body{
    background-image: url(../images/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

#logo{
    max-width: 6.5rem;
    position: absolute;
    top: .5rem;
    left: 7.5rem;
}

#logo:hover{
    cursor: cell;
    animation-duration: 2s;
    animation-name: balanco;
    animation-iteration-count: infinite;
}

@keyframes balanco{
    33%{
        transform: rotate(30deg);
    }
    66%{
        transform: rotate(-25deg);
    }
    100%{
        transform: rotate(30deg);
    }
}

nav{
    background-color: var(--Royal-B2);
    position: fixed;
    border-radius: 7px;
    padding: 1.25rem;
    top: 8.5rem;
    right: 2.5rem;
}

nav .ancoras{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.ancoras img{
    background-color: var(--White);
    width: 6rem;
    padding: .5rem;
    border-radius: 5px;
}

nav .ancoras img:hover{
    background-color: var(--Blue);
    transition: .5s;
}

nav div .ativo{
    background-color: var(--Blue);
}

#ativo{
    background-color: var(--Blue);
    padding-block: 1rem;
}

main{
    max-width: 95rem;
    background: var(--White);
    margin-left: 7rem;
    margin-top: 7.5rem;
    padding-block: 4.5rem;
    padding-inline: 5rem;
    border-radius: 35px;
    margin-bottom: 5rem;
}

ul{
    list-style: inside;
}

h1{
    font-family: "Poppins", sans-serif;
    color: var(--Royal-B2);
    font-size: 5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

h2{
    font-family: "Poppins", sans-serif;
    color: var(--Royal-B2);
    font-size: 3.125rem;
    margin-block: 1.75rem;
}

h3{
    font-family: "Roboto Mono", monospace;
    color: var(--Royal-B2);
    font-size: 1.9rem;
}

p, li{
    font-family: "Overpass Mono", monospace;
    color: var(--Royal-B2);
    font-size: 1.5rem;
    margin-block: 2rem;
    margin-right: 6rem;
}

main img{
    width: 46rem;
}

nav .icone-mobile, .mobile{
    display: none;
}

#fecha{
    padding-block: 1rem;
}